# vi: set ft=conf :

# hotplug
ENV{MODALIAS}=="?*",	RUN+="/sbin/modprobe $env{MODALIAS}"

# scsi
# sd:		0 TYPE_DISK, 7 TYPE_MOD, 14 TYPE_RBC
# sr:		4 TYPE_WORM, 5 TYPE_ROM
# st/osst:	1 TYPE_TAPE
SUBSYSTEM=="scsi", KERNEL=="[0-9]*:[0-9]*", ACTION=="add", ATTR{type}=="0|7|14", ATTR{timeout}="60"
SUBSYSTEM=="scsi", KERNEL=="[0-9]*:[0-9]*", ACTION=="add", ATTR{type}=="1", ATTR{timeout}="900"

SUBSYSTEM=="scsi",		ACTION=="add", ATTRS{type}=="0", RUN+="/sbin/modprobe sd_mod"

SUBSYSTEM=="scsi_device",	ACTION=="add", ATTRS{type}=="0|7|14", RUN+="/sbin/modprobe sd_mod"
SUBSYSTEM=="scsi_device",	ACTION=="add", ATTRS{type}=="1", ATTR{vendor}=="On[sS]tream", RUN+="/sbin/modprobe osst"
SUBSYSTEM=="scsi_device",	ACTION=="add", ATTRS{type}=="1", RUN+="/sbin/modprobe st"
SUBSYSTEM=="scsi_device",	ACTION=="add", ATTRS{type}=="[45]", RUN+="/sbin/modprobe sr_mod"
SUBSYSTEM=="scsi_device",	ACTION=="add", TEST!="[module/sg]", RUN+="/sbin/modprobe sg"

# ide
SUBSYSTEM=="ide", ACTION=="add", ATTR{media}=="tape", RUN+="/sbin/modprobe ide-scsi"

# mmc
SUBSYSTEM=="mmc", ACTION=="add", RUN+="/sbin/modprobe mmc_block"
