# vi: set ft=conf :

# console (NAME)
KERNEL=="pty[pqrstuvwxyzabcdef][0123456789abcdef]",	SYMLINK+="pty/m%m"	
KERNEL=="tty[pqrstuvwxyzabcdef][0123456789abcdef]",	SYMLINK+="pty/s%m"
KERNEL=="tty[0-9]*",		SYMLINK+="vc/%n"

# video group
KERNEL=="pmu",			GROUP="video"
KERNEL=="nvidia*|nvidiactl*",	GROUP="video"
KERNEL=="nvidia*|nvidiactl*",	GROUP="video"
KERNEL=="dv1394*|video1394*|raw1394*",	GROUP="video"
KERNEL=="vttuner*",		GROUP="video"
KERNEL=="vtx*|vbi*",		GROUP="video"
KERNEL=="winradio*",		GROUP="video"
SUBSYSTEM=="dvb",		GROUP="video"
SUBSYSTEM=="graphics"		GROUP="video"
SUBSYSTEM=="video4linux",	GROUP="video"
KERNEL=="agpgart",		GROUP="video"
